.App {
padding: 30px;

}

.download-link-hidden {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: grey;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.download-link-hidden:hover {
  opacity: 1;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  margin-top: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Lighter background color for the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; /* Lighter color for the handle */
  border-radius: 10px; /* Rounder corners for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbb; /* Lighter color for the handle when hovered */
}

.scrollable-div {
  overflow-y: auto; /* Enable vertical scrolling */
}

.suggestionsName {
  padding-left: 30px;
  padding-top: 10px;
}

.IfElseInputAll {
  margin-top: 200px;
}
.EditorField {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 200px;

}

.IfElseInput {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

.IfElseInput p {
    margin-right: 10px;
    margin-left: 10px;
}

.TextField {
    margin-right: 10px;
    margin-left: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


